:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  --player-1-light: #4ce6ba;
  --player-1-dark: #00b894;
  --player-2-light: #ff7675;
  --player-2-dark: #d63031;
}

.game-field {
  max-width: 40rem;
  margin: 4rem auto 0;
}

.status-bar {
  display: flex;
  justify-content: space-between;
}

.sticks-total {
  text-align: center;
}

.total-title {
  display: block;
}

.total-number {
  font-size: 2rem;
}

.player {
  width: 40%;
  font-size: 1.75rem;
  font-weight: 700;
}

.player:nth-child(3) {
  text-align: right;
}

.player-1-name {
  color: var(--player-1-dark);
}

.player-2-name {
  color: var(--player-2-dark);
}

.player-1-turn .player-2-name {
  display: none;
}

.player-2-turn .player-1-name {
  display: none;
}

.sticks-wrapper {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 0.5rem auto;
}

.stick {
  width: 4px;
  height: 160px;
  background-color: #fb8c00;
  border: 1px solid #fff;
  position: absolute;
  z-index: 5;
}

.player-1-turn .selected {
  background-color: var(--player-1-light);
  border-color: var(--player-1-dark);
}

.player-2-turn .selected {
  background-color: var(--player-2-light);
  border-color: var(--player-2-dark);
}

.remove-sticks {
  text-align: center;
  margin: 1rem 0;
}

.remove-btn {
  background: none;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid #fff;
}

.player-1-turn .remove-btn {
  background-color: var(--player-1-light);
  border-color: var(--player-1-dark);
}

.player-2-turn .remove-btn {
  background-color: var(--player-2-light);
  border-color: var(--player-2-dark);
}

.remove-btn:disabled {
  cursor: not-allowed;
}

.select-input {
  width: 100%;
}

.select-range {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

.select-invalid {
  color: #e74c3c;
}

.winner {
  position: fixed;
  top: 18rem;
  left: 0;
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  z-index: 10;
  text-align: center;
}

.winner-title {
  font-size: 3rem;
}

.winner-name {
  font-size: 2rem;
  font-weight: 700;
}

.player-1-turn .winner {
  background-color: var(--player-2-light);
}

.player-2-turn .winner {
  background-color: var(--player-1-light);
}
